<head>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/student/css/bootstrap.min.css">
    <link rel="stylesheet" href="/student/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/student/css/slicknav.css">
    <link rel="stylesheet" href="/student/css/flaticon.css">
    <link rel="stylesheet" href="/student/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/student/css/gijgo.css">
    <link rel="stylesheet" href="/student/css/hamburgers.min.css">
    <link rel="stylesheet" href="/student/css/animate.min.css">
    <link rel="stylesheet" href="/student/css/animated-headline.css">
    <link rel="stylesheet" href="/student/css/magnific-popup.css">
    <link rel="stylesheet" href="/student/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/student/css/themify-icons.css">
    <link rel="stylesheet" href="/student/css/slick.css">
    <link rel="stylesheet" href="/student/css/nice-select.css">
    <link rel="stylesheet" href="/student/css/style.css">

</head>

<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="/student/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li><a href="/courses">Courses</a></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="#">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_details.html">Blog Details</a></li>
                                                    <li><a href="elements.html">Element</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                            <!-- Button -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>